.ColorPicker {
  display: flex;
}
.ColorPicker__swatch {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
}
.ColorPicker__swatch:hover {
  border: 2px solid grey;
}
.ColorPicker__swatch .selected {
  border: 2px solid grey;
}