.ColorPicker {
  display: flex;
}
.ColorPicker__swatch {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border: 2px solid #334768;
  margin: 3px;
  cursor: pointer;
  transition: 0.3s;
}
.ColorPicker__swatch:hover {
  border: 2px solid grey;
  transition: 0.3s;
}
.ColorPicker__swatch.selected {
  border: 2px solid grey;
}