.sidebar{
  color: #F0F8FD;
  font-size: 16px;
}
ul{
  margin: 0;
  padding: 4px;
  width: 389px;
  height: 40px;
}
ul li {
  display: inline;
  float: left;
  /* margin-left: 6px; */
  list-style-type: none;
}
.group-add{
  padding: 5px;
  border: 1px solid grey;
}
/* .group{
  position: relative;
} */
.plus_{
  position: absolute;
  width: 32px;
  height: 32px;
  background: rgba(255, 255, 255, .5);
  color: #fff;
  border-radius: 50%;
  line-height: 32px;
  margin-left: 7px;
}
.plus_:hover{
  cursor: pointer;
}
.plus_:active{
  background: rgba(192, 188, 188, 0.5);
}
.plus_s{
  /* position: absolute; */
  width: 32px;
  height: 32px;
  /* top: 0; */
  /* left: 0; */
  background: rgba(255, 255, 255, .5);
  border-radius: 50%;
  color: #fff;
  line-height: 32px;
  speak: none;
  font-weight: bold;
  cursor: pointer; 
}
.block-task{
  margin: 0 auto;
  width: 95%;
  height: 68px;
  background: #fff;
  border-radius: 6px;
  margin-bottom: 15px;
}
.block{
  display: block;
  height: 100%;
  float: left;
}
.color-element{
  width: 2%;
  background: black;
  border-radius: 6px 0 0 6px;
}
.task-number{
  width: 10%;
  /* background: #6F7E95; */
}
.task-number > p{
  color: #6F7E95;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  padding-top: 16px;
}
.task-text{
  display: block;
  width: 81%;
  height: 100%;
  background: blueviolet;
  padding: 5px 0;
}
.task-text-tema{

}
.task-tema-time{

} 
.task-delete{
  width: 7%;
  background: red;
  border-radius: 0 6px 6px 0;
}
.button-create{
  width: 328.5px;
  height: 45px; 
  border: 2px solid #6F7E95;
  margin-left: 28px;
  margin-top: 25px;
  position: relative;
}
.button-create:hover{
  cursor: pointer;
}
.button-create:active{
  border: 2px solid rgb(87, 99, 117);
}
.plus_ss{
  position: absolute;
  width: 32px;
  height: 32px;
  top: 6px;
  left: 149px;
  background: rgba(255, 255, 255, .5);
  border-radius: 50%;
  color: #fff;
  line-height: 32px;
  /* text-align: center; */
  speak: none;
  font-weight: bold;
  cursor: pointer;
}
.plus_ss:active{
  background: rgba(192, 188, 188, .5);
}