.sidebar{
  color: #F0F8FD;
  font-size: 16px;
}
ul{
  margin: 0;
  padding: 4px;
  width: 389px;
  height: 40px;
}
ul li {
  display: inline;
  float: left;
  /* margin-left: 6px; */
  list-style-type: none;
}
.group-add{
  padding: 5px;
  border: 1px solid grey;
}
/* .group{
  position: relative;
} */
.plus_{
  position: absolute;
  width: 32px;
  height: 32px;
  background: rgba(255, 255, 255, .5);
  color: #fff;
  border-radius: 50%;
  line-height: 32px;
  margin-left: 7px;
}
.plus_:hover{
  cursor: pointer;
}
.plus_:active{
  background: rgba(192, 188, 188, 0.5);
}
.plus_s{
  /* position: absolute; */
  width: 32px;
  height: 32px;
  /* top: 0; */
  /* left: 0; */
  background: rgba(255, 255, 255, .5);
  border-radius: 50%;
  color: #fff;
  line-height: 32px;
  speak: none;
  font-weight: bold;
  cursor: pointer; 
}
.element{
  width: 332.5px;
  min-height: 45px;
  background: #6786EE;
  margin-left: 28px;
  text-align: left;
}
.element h3{
  font-size: 16px;
  padding: 0;
  margin: 0;
}
.element h4{
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.button-create{
  width: 328.5px;
  height: 45px; 
  border: 2px solid #6F7E95;
  margin-left: 28px;
  margin-top: 25px;
  position: relative;
}
.button-create:hover{
  cursor: pointer;
}
.button-create:active{
  border: 2px solid rgb(87, 99, 117);
}
.plus_ss{
  position: absolute;
  width: 32px;
  height: 32px;
  top: 6px;
  left: 149px;
  background: rgba(255, 255, 255, .5);
  border-radius: 50%;
  color: #fff;
  line-height: 32px;
  /* text-align: center; */
  speak: none;
  font-weight: bold;
  cursor: pointer;
}
.plus_ss:active{
  background: rgba(192, 188, 188, .5);
}