::-webkit-scrollbar-button { 
  /* background-image:url('');  */
  background-repeat:no-repeat; 
  width:6px; 
  height:0px 
}
::-webkit-scrollbar-track { 
  background-color:#ADBCCD;
  border-radius: 5px;
  box-shadow:0px 0px 3px #000 inset; 
}
::-webkit-scrollbar-thumb { 
  -webkit-border-radius: 5px; 
  border-radius: 5px; 
  background-color:rgb(128, 137, 148); 
  /* box-shadow:0px 1px 1px #fff inset;  */
  /* background-image:url('https://yraaa.ru/_pu/24/59610063.png');  */
  background-position:center; 
  background-repeat:no-repeat; 
}
::-webkit-resizer{ 
  /* background-image:url('');  */
  background-repeat:no-repeat; 
  width:7px; 
  height:0px 
}
::-webkit-scrollbar{ 
  width: 11px; 
}
.sidebar{
  color: #F0F8FD;
  font-size: 16px;
}
ul{
  margin: 0;
  padding: 4px;
  /* width: 389px; */
  height: 40px;
}
ul li {
  display: inline;
  /* float: left; */
  list-style-type: none;
}
input{
  font-size: 16px;
  margin: 5px;
  padding: 8px;
  border-radius: 4px;
  color:#6F7E95;/* rgb(82, 82, 82) */
  border: 1px solid #ccc;
}
input:hover{
  outline: none;
}
input[type="text"]{
  width: 96%;
}
input[type="time"]{
  padding: 5px;
}
.button-add-sidebar{
  font-size: 14px;
  color: rgba(255, 255, 255, 0.904);
  font-weight: 600;
  background: #8C87F2;
  padding: 10px;
  border-radius: 4px;
  outline: none;
  border: none;
  transition: none;
}
.button-add-sidebar:hover{
  cursor: pointer;
  background: rgb(121, 116, 209);
  transition: none;
}
.button-add-sidebar:active{
  background: rgba(140, 135, 242, .9);
  transition: none;
}
.button-add-sidebar
.button-color{
  width: 70px;
}
.button-sidebar{
  width: 120px;
  margin-left: 27px;
}
.group-add{
  padding: 5px;
  border: 1px solid grey;
}

.prokrutka{
  /* width: 200px; */
  margin-top: 10px;
  height: 635px;
  overflow-y: auto;
}
.block-task{
  margin: 0 auto;
  width: 97%;
  height: 70px;
  background: #fff;
  border-radius: 6px;
  margin-bottom: 15px;
}
.block{
  display: block;
  height: 100%;
  float: left;
}
.color-element{
  width: 2%;
  background: #FE9081;
  border-radius: 6px 0 0 6px;
}
.task-number{
  width: 10%;
}
.task-number > p{
  color: #6F7E95;
  text-align: center;
  font-size: 28px;
  padding-top: 16px;
}
.task-text{
  display: block;
  width: 80%;
  height: 100%;
  color: rgb(75, 74, 74);
  font-size: 16px;
  padding: 5px 3px;
}
.task-text-tema{
  float: left;
  width: 60%;
}
.task-text-time{
  float: left;
  width: 20%;
  font-size: 15px;
}
.task-text-text{
  float: left;
  width: 100%;
}
.task-edit-delete{
  width: 7%;
  border-radius: 0 6px 6px 0;
  font-size: 18px;
  margin-left: 3px;
}
.task-edit{
  margin-top: 9px;
}
.task-delete{
  margin-top: 10px;
}
.faEdit, .faTrashAl{
  color: #6F7E95;
  transition: .4ms;
}
.faEdit:hover, .faTrashAl:hover{
  cursor: pointer;
  color: rgb(90, 103, 121);
  transition: .4ms;
}
.faTrashAl{
  
  width: 20px;
  height: 20px;
}
.button-create{
  width: 328.5px;
  height: 45px; 
  border: 2px solid #6F7E95;
  margin-left: 28px;
  margin-top: 25px;
  position: relative;
}
.button-create:hover{
  cursor: pointer;
}
.button-create:active{
  border: 2px solid rgb(87, 99, 117);
}
.button-delete{
  /* background: url('../../../public/del-button.png') no-repeat; */
  width: 32px;
  height: 32px;
  cursor: pointer;
}
/* .plus_ss{
  position: absolute;
  width: 32px;
  height: 32px;
  top: 6px;
  left: 149px;
  background: rgba(255, 255, 255, .5);
  border-radius: 50%;
  color: #fff;
  line-height: 32px;
  speak: none;
  font-weight: bold;
  cursor: pointer;
}
.plus_ss:active{
  background: rgba(192, 188, 188, .5);
} */

/*************/
/*************/
/**  ПРИМЕР **/
/*************/
/*************/
.e1{
  background: #5FC681;
}
.e2{
  background: #885FFF;
}
.e3{
  background: #FF4545;
}
.e4{
  background: #16B2CB;
}
.e5{
  background: #FFCB1F;
}
.e6{
  background: #FE3263;
}
.e7{
  background: #27CF45;
}
