.App-header {
  height: 75px;
  padding: 20px;
  color: white;
}
.button{
  width: 160px;
  height: 28px;
  background: #8C87F2;
  border: none;
  border-radius: 6px;
  margin-left: 40px;
  padding: 20px 0;
  outline: none;
  position: relative;
}
.button>p{
  font-size: 18px;
  color: black;
  text-align: center;
  color: #fff;
}
.button-text-1{
  position: absolute;
  top: 8px;
  left: 50px;
}
.button-text-2{
  position: absolute;
  top: 8px;
  left: 50px;
}
.button-text-3{
  position: absolute;
  top: 8px;
  left: 17px;
}
.button:hover{
  cursor: pointer;
}
.button:active{
  background: rgba(140, 135, 242, .9);
  transition: none;
}
.button-left{
  float:left
}
.button-right{
  float: right;
}
