.App {
  width: 100%;
  /* margin-left: 4%; */
}
.content-sidebar{
  float: left;
  /* width: 20%; */
  /* min-width: 389px; */
  height: 830px;
  border-radius: 7px;
  background: #ADBCCD;
  box-shadow: 0 15px 108px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.content-histogram{
  float:left;
  height: 830px;
  border-radius: 7px 0 0 7px;
  background: #0f0f0f;
  /* background-image: -webkit-linear-gradient(0deg, #0f0f0f 0%, #0f0f0f 49px, #6F7E95 50px); */
  box-shadow: 0 15px 108px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  overflow-x: auto;
  /* background-size: cover; */
}
@media (max-width: 1920px){
  .App{
    margin-left: 4%;
  }
  .content-sidebar{
    width: 22%;
    min-width: 389px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .content-histogram{
    width: 74%;
  }
}
@media (max-width: 1620px){
  .App{
    margin-left: 0%;
  }
  .content-sidebar{
    min-width: 24%;
    float: left;
  }
  .content-histogram{
    width: 76%;
    float: left;
  }
}