.App {
  width: 100%;
  
  /* margin-left: 4%; */
}
.content-sidebar{
  float: left;
  /* width: 20%; */
  /* min-width: 389px; */
  height: 780px;
  border-radius: 7px;
  background: #ADBCCD;
  box-shadow: 0 15px 108px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.content-histogram{
  float:left;
  height: 780px;
  border-radius: 7px;
  background: #F3F6F9;
  box-shadow: 0 15px 108px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
@media (max-width: 1920px){
  .App{
    margin-left: 4%;
  }
  .content-sidebar{
    width: 22%;
    min-width: 389px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .content-histogram{
    width: 74%;
  }
}
@media (max-width: 1620px){
  .App{
    margin-left: 0%;
  }
  .content-sidebar{
    min-width: 24%;
    float: left;
  }
  .content-histogram{
    width: 76%;
    float: left;
  }
}