.content{
  position:relative;
}
.content-sidebar{
  position: absolute;
  width: 389px;
  height: 760px;
  left: 60px;
  top: 0px;
  border-radius: 7px;
  background: linear-gradient( to bottom , #334768, #415372);
}
.content-histogram{
  position: absolute;
  width: 1470px;
  height: 760px;
  right: 0px;
  top: 0px;
  border-radius: 7px;
  background: #DFDFDF;
}