/* .content{
  /* position:relative; */

/* .content-sidebar{
  float:left;
  width: 389px;
  height: 760px;
  margin-left: 60px;
  border-radius: 7px;
  background: linear-gradient( to bottom , #334768, #415372);
}
.content-histogram{
  float:left;
  width: 1470px;
  height: 760px;
  border-radius: 7px;
  background: #DFDFDF;
} */
